.header{
    background-image: url("https://github.com/madeshiyarohit/rode_clone/blob/master/Assets/rode-rodecaster-pro-II-home-page-1920x700-rgb.jpg?raw=true");
    width: 100vw;
    height: 700px;
}